* {
  margin: 0px;
  padding: 0px;
}
ul {
  list-style: none;
}
.navbar-brand {
  margin-top: 10px;
}
#logo {
  width: 125px;
}
#main {
  background: #085e7d !important;
}
#footer {
  background: #085e7d !important;
}
.card-img-top {
  width: 100%;
  height: 25vh;
  object-fit: cover;
}

@media screen and (min-width: 100px) {
  #MilkyWayGalaxyBg {
    background-image: url("img/MilkyWayPlanets-mobile.jpg");
    height: 1713px;
  }
}

@media screen and (min-width: 1000px) {
  #MilkyWayGalaxyBg {
    background-image: url("img/MilkyWayPlanets.jpg");
    height: 1080px;
  }
}
/* Mobil için buttonlar */
#responsiveButton {
  display: none; /* Düğmeyi varsayılan olarak gizle */
}

@media only screen and (max-width: 1000px) {
  #responsiveButton {
    display: block; /* Ekran genişliği 600 pikselden küçükse düğmeyi göster */
  }
}

#Sun-mobile {
  margin-top: 150px;
  margin-left: 60px;
}
#Mercury-mobile {
  margin-top: 140px;
  margin-left: 60px;
}
#Venus-mobile {
  margin-top: 60px;
  margin-left: 60px;
}
#Earth-mobile {
  margin-top: 110px;
  margin-left: 60px;
}
#Mars-mobile {
  margin-top: 100px;
  margin-left: 60px;
}
#Jupiter-mobile {
  margin-top: 175px;
  margin-left: 60px;
}
#Saturn-mobile {
  margin-top: 250px;
  margin-left: 60px;
}
#Uranus-mobile {
  margin-top: 200px;
  margin-left: 60px;
}
#Neptune-mobile {
  margin-top: 100px;
  margin-left: 60px;
}
#Pluto-mobile {
  margin-top: 45px;
  margin-left: 60px;
}
