.row > * {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
body {
  overflow-x: hidden;
}
ul {
  list-style: none;
}
.navbar-brand {
  margin-top: 10px;
}
#logo {
  width: 125px;
}

#footer {
  background: #085e7d !important;
}
.card-img-top {
  width: 100%;
  height: 25vh;
  object-fit: cover;
}

@media screen and (min-width: 100px) {
  #MilkyWayGalaxyBg {
    background-image: url("img/MilkyWayPlanets-mobile.jpg");
    height: 1713px;
  }
}

@media screen and (min-width: 1000px) {
  #MilkyWayGalaxyBg {
    background-image: url("img/MilkyWayPlanet.jpg");
    background-size: cover;
    height: 1080px;
  }
}
/* Mobil için buttonlar */
#responsiveButton {
  display: none; /* Düğmeyi varsayılan olarak gizle */
}

@media only screen and (max-width: 1000px) {
  #responsiveButton {
    display: block; /* Ekran genişliği 600 pikselden küçükse düğmeyi göster */
  }
}

#Sun-mobile {
  margin-top: 150px;
  margin-left: 60px;
}
#Mercury-mobile {
  margin-top: 140px;
  margin-left: 60px;
}
#Venus-mobile {
  margin-top: 60px;
  margin-left: 60px;
}
#Earth-mobile {
  margin-top: 110px;
  margin-left: 60px;
}
#Mars-mobile {
  margin-top: 100px;
  margin-left: 60px;
}
#Jupiter-mobile {
  margin-top: 175px;
  margin-left: 60px;
}
#Saturn-mobile {
  margin-top: 250px;
  margin-left: 60px;
}
#Uranus-mobile {
  margin-top: 200px;
  margin-left: 60px;
}
#Neptune-mobile {
  margin-top: 100px;
  margin-left: 60px;
}
#Pluto-mobile {
  margin-top: 45px;
  margin-left: 60px;
}

#responsiveButtonForPC {
  display: none; /* Düğmeyi varsayılan olarak gizle */
}

@media only screen and (min-width: 1000px) {
  #responsiveButtonForPC {
    display: block; /* Ekran genişliği 600 pikselden küçükse düğmeyi göster */
  }
}

#Sun-PC {
  margin-top: 200px;
  margin-left: 200px;
}
#Mercury-PC {
  margin-top: 200px;
  margin-left: 40px;
}
#Venus-PC {
  margin-top: 200px;
  margin-left: 40px;
}
#Earth-PC {
  margin-top: 200px;
  margin-left: 50px;
}
#Mars-PC {
  margin-top: 200px;
  margin-left: 50px;
}
#Jupiter-PC {
  margin-top: 200px;
  margin-left: 225px;
}
#Saturn-PC {
  margin-top: 200px;
  margin-left: 275px;
}
#Uranus-PC {
  margin-top: 200px;
  margin-left: 190px;
}
#Neptune-PC {
  margin-top: 200px;
  margin-left: 90px;
}
#Pluto-PC {
  margin-top: 200px;
  margin-left: 10px;
}

/* Planets */

/* Sun */
@media screen and (min-width: 100px) {
  #SunBg {
    background-image: url("img/Sun-mobile.jpg");
    height: 900px;
  }
}

@media screen and (min-width: 1000px) {
  #SunBg {
    background-image: url("img/Sun.jpg");
    background-size: cover;
    height: 1080px;
  }
}
